<div id="footer">

	( <%  if APP_VERSION then %>
	       <%=APP_VERSION %> |
	  <% end %>
	     <%=  ENV['RAILS_ENV'] %>
	) by GNA team. Valid 
	<%= link_to "XHTML", "http://validator.w3.org/check/referer", :style => "color:white" %> and 
	<%= link_to "CSS", "http://jigsaw.w3.org/css-validator/check/referer", :style => "color:white" %>

</div>